AI_HUB_URL=https://aihub.mohsal.dev
AI_HUB_WORKER_TOKEN=replace-with-worker-token
AI_HUB_WORKER_ID=home-worker
AI_MODEL_URL=http://host.docker.internal:8080/v1
AI_MODEL=qwen3-vl-8b
AI_MODEL_API_KEY=local
AI_HUB_POLL_WAIT=20
